.formStyle {
  background: #ffffff;
  width: 65%;
  margin-bottom: 20px;
}

/* 
.ant-col {
  flex: 1;
} */

.ant-row {
  justify-content: center;
  align-items: flex-start;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  color: #1677ff;
}


.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}

.ant-divider-horizontal {
  margin: 10px 0;

}

.ant-input-suffix{
  color:gray
}