@import '../node_modules/antd/dist/reset.css';

* {
    margin: 0;
    padding: 0;
}

.layout {
    margin-left: 80px;
    height: 100vh;
}

.navbar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.content {
    height: 100vh;
    overflow-y: scroll;
    /* background-color: #eee7e7; */
    background: #c8d3d324;
}

.footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.header {
    background: #fafafa;
    box-shadow:
        0 2px 4px #033c561a,
        0 0 1px #033c5680 !important;
    z-index: 1;
}

.itemMenu {
    margin-left: 150px;
}

#root {
    height: 100%;
}
