.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

.button {
    margin-right: 8px;
}

.controlContainer{
  margin: 5px 15px;
  padding: 10px 10px;
  background: white
}


.ant-table-column-sorter {
  /* display: none; */
}


/* .ant-dropdown-menu-item:hover{
  
  .stateSortIcon{
    display: inline-flex;
  }

} */


.stateSortIcon {
  margin-left: 10px
}

