.tableAverageAttendance {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    td {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        padding: 8px 20px;
        
    }
}
