.ant-radio-group-small :where(.css-dev-only-do-not-override-zl9ks2).ant-radio-button-wrapper:first-child {
    display: none;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
    height: 100%;
    width: 100%;
}

.blockFrequencyType {
    display: flex;
    flex-direction: column;
    background: #efeff1;
    padding: 15px;
    margin-top: 10px;

    .additionalBlockFrequencyType {
        margin-bottom: 10px;
    }

    p {
        font-weight: 600;
    }
}

.ant-picker-content tbody tr td {
    height: 1px;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events .ant-badge {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
